<h1 class="titles"><%= @advertisement.title %></h1>
 <br>
 <div class="row">

   <div class="col-md-8">
     <p><%= @advertisement.body %></p>
     <p>$<%= @advertisement.price %></p>
     <br>
     <%= link_to "Edit", edit_advertisement_path(@advertisement), class: 'btn btn-warning' %>
     <%= link_to "Delete Advertisement", @advertisement, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this advertisement?'} %>
   </div>
 </div>