<h1 class="titles"><%= @post.title %></h1>
 <br>
 <div class="row">
   <div class="col-md-8">
     <p><%= @post.body %></p>
     <br>
     <%= link_to "Edit", edit_topic_post_path(@post.topic, @post), class: 'btn btn-warning' %>
     <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
     <br><br><br>
      <div class="ad">
      <a href="https://www.michelangelopereira.com">
       <img class="murray" src="<%=  @image  %>">
       
         <p class="ad-text">&nbsp;<%=  @ad.title  %></p>
         <p class="ad-text">&nbsp;<%=  @ad.body  %> </p>
         <p class="ad-text">&nbsp;$<%=  @ad.price  %></p>
         <p class="ad-text">&nbsp;<%=  @ad.url  %> </p>
        
         
       </a>
      </div>
   </div>
 </div>